/* Body Flexbox for Full Page Layout */
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1; /* Occupy the full height except navbar and footer */
    width: 100%;
    /* overflow-y: auto */
    /* overflow: auto; */
}

.navbar {
    height: 5rem;
    background-color: white;
    position: sticky;
   margin-bottom: 1rem !important;
    top: 0;
    /* z-index: 1000;  */
   
}
@media only screen and (max-width: 599px) {
.navbar-collapse{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-start !important ;
    /* right: 0; */
    margin: 0;
    padding: 0;
  
    
}
.navbar-nav.ms-auto {
    margin-left: 1rem !important; /* Remove auto margin to prevent pushing items to the right */
}

}




.fa-compass {
    color: #fe424d;
}

.nav-link {
    color: #222222 !important;
}

/* Footer Styling */
.f-info {
    text-align: center;
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    /* margin-top: auto; */
    /* Push footer to the bottom  */
}
.f-info-brand{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;

   
}

.f-info-links:hover {
    text-decoration: underline;
}



.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1.2rem;
}

/* Card Styling */
.listing-card {
    border: none !important;
    margin-bottom: 1rem !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* Button Styling */
.add-btn,
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Map Styling */
#map {
    height: 400px;
    width: 80vh;
    border-radius: 50%;
    margin: 0 auto; /* Center the map horizontally */
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Adjust the Map for Mobile */
@media only screen and (max-width: 599px) {
    #map {
        height: 40vh;
        width: 40vh;
    }

    .card-img-top {
        height: 15rem;
    }
}

/* Adjust the Map for Tablets */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    #map {
        height: 50vh;
        width: 50vh;
    }

    .card-img-top {
        height: 18rem;
    }
}

/* Adjust the Map for Larger Screens */
@media only screen and (min-width: 1025px) {
    #map {
        height: 60vh;
        width: 60vh;
    }

    .card-img-top {
        height: 20rem;
    }
}

/* Dropdown Styling */
.dropdown-toggle {
    margin-top: 30px;
}







