<% layout("/layouts/boilerplate") %>
    <h2 class="col6 offset-3 mb-3">Signup on wonderlust</h2>
    <form action="/signup" method="post" class="needs-validation" novalidate>
        <div class="col-6 offset-3">
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input name="username" class="form-control" id="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">email</label>
                <input name="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">password</label>
                <input name="password" class="form-control" type="password" id="password" required>
                <div class="valid-feedback">
            Looks good!
        </div>
            </div>
            <button class="btn btn-success">Signup</button>

        </div>
    </form>